components-login-form {
    .button-inner {
        
        justify-content: center !important;
    }

    ion-input {
        background-color: #b7c8d9 !important;
        height: 40px;
        color: #575757;
        border-radius: 4px;
        margin-top: 12px;
        padding-left: 10px;
        
    }

    .input-cover {
       top: auto
    }

}
